.menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu h1{
    color: #313131;
    font-weight: 400;
}
.menu-text{
    max-width: 60%;
    color: #808080;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    overflow-x: scroll;
    margin: 20px 0px;
}
.menu-list::-webkit-scrollbar{
    display: none;
}
.menu-items img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.menu-items img:hover{
    transform: scale(1.12);
}
.menu-items p{
    cursor: pointer;
    margin-top: 10px;
    font-size: max(1.5vw, 13px);
    color: #747474;
}
.menu hr{
    border: none;
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
}
.menu-items .active{
    border: 4px solid tomato;
    padding: 2px;
}
@media (max-width:1050px) {
    .menu-text{
        max-width: 100%;
        font-size: 15px;
    }
}