.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 15px);
}
.sidebar-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-left: 50px;

}
.sidebar-option{
    display: flex;
    align-items: center;
    border: 1.5px solid #a9a9a9;
    border-right: 0;
    gap:15px;
    padding: 8px 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}
@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}